@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<head>

        <link href="~/css/site.css" rel="stylesheet" />
  
    
   

</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="">
    <div class="sinav">
        <form action="/Home/Login" method="post">
            <h2 style="text-align:center">Kullanıcı girişi</h2>
            <input type="text" id="kullaniciAd" name="kullaniciAd" placeholder="Kullanıcı Adı" required>  <br />


            <input type="password" id="sifre" name="sifre" placeholder="Şifre" required> <br />



            <button type="submit" class="right" style="text-align:right" value="Submit">GİRİŞ YAP </button>
        </form>


    </div>
</body>

<!-- end::Body -->
</html>

